{% extends 'admin.twig' %}

{% block main %}
<h1 class="mt-3">Gestion de tous les matériels</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="row">
            {% for materiel in liste_materiel %}
                <div class="col-md-6 mb-2">
                    <div class="card-bloc" style="width: 100%;">
                        <div class="col g-0">
                            <!-- Colonne pour l'image -->
                            <div class="row-md-4">
                                <img src="upload/{{ materiel.image }}" class="img-fluid" alt="{{ materiel.nom }}" style="width: 100%; height: 200px; object-fit: cover;">
                            </div>
                            <!-- Colonne pour les informations -->
                            <div class="row-md-8">
                                <div class="card-body bg-light">
                                    <p class="badge text-small">{{ materiel.categorie }}</p>
                                    <h5 class="card-title"><strong>{{ materiel.nom|slice(0, 10) ~ '...' }}</strong></h5>
                                    
                                    <div class="btn-group">
                                        <a href="admin.php?page=materiel&action=read&id={{ materiel.id }}" class="btn btn1">Détails</a>
                                        <a href="admin.php?page=materiel&action=edit&id={{ materiel.id }}" class="btn btn2">Modifier</a>
                                        <a href="admin.php?page=materiel&action=delete&id={{ materiel.id }}" class="btn btn3">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun matériel présent</p>
            {% endfor %}
        </div>
    </div>
    <!-- Troisième colonne pour ajouter des matériaux -->
    <div class="col-md-3" style="margin-left: 200px;">
        <h2 class="mb-4 text-center">Ajouter un matériel sur le site</h2>
        <div class="card-card bg-light">
            <h5 class="card-title">Nouveau matériel</h5>
            <a href="admin.php?page=materiel&action=new" class="btn btn4" style="font-size: 15px; margin-right: 5px;">
                <i class="bi bi-plus"></i> Ajouter
            </a>

        </div>
    </div>
</div>
{% endblock %}
