{% extends 'admin.twig' %}

{% block main %}
<h2>Modifier une information sur le matériel</h2>
<form action="admin.php?page=objet&action=update" method="post" enctype="multipart/form-data" class="form-container">
	<input type="hidden" name="id" readonly value="{{ objet.id }}">
	<input type="hidden" name="id_cours" value="{{ objet.id_cours }}">
	<input type="hidden" name="ordre" value="{{ objet.ordre }}">

	<div class="mb-3">
		<label for="titre" class="form-label">Titre</label>
		<input type="text" name="titre" id="titre" class="form-control" placeholder="Titre" value="{{ objet.titre }}">
	</div>

	<div class="mb-3">
		<label for="redacteur" class="form-label">Rédacteur</label>
		<input type="text" name="redacteur" id="redacteur" class="form-control" placeholder="Rédacteur" value="{{ objet.redacteur }}">
	</div>

	<div class="mb-3">
		<label for="accroche" class="form-label">Information</label>
		<textarea name="accroche" id="accroche" class="form-control" rows="5" placeholder="Saisir une information">{{ objet.accroche }}</textarea>
	</div>

	<input type="hidden" name="old-image" value="{{ objet.image }}">

	<div class="mb-3">
		<label for="image" class="form-label">Changer l'image</label>
		<input type="file" name="image" id="image" class="form-control">
	</div>

	<div class="mb-3">
		<input type="submit" value="Envoyer" class="btn btn5">
	</div>
</form>
{% endblock %}
